<div class="container">
  <h1>{{title}}</h1>
  <div class="table">
    <table *ngIf="items.length > 0">
      <thead>
        <tr>
          <th *ngFor="let column of columns">{{ column | translate }}</th>
          <th>Ações</th> 
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items" (click)="editItem(item)">
          <td *ngFor="let column of columns" matTooltip="Clique para editar">{{ item[column] }}</td>
          <td> 
            <button class="delete_icon" (click)="deleteItem(item, $event)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <span *ngIf="items.length === 0">Sem itens para exibir!</span>
  </div>
  <div class="buttons">
    <button class="newItem" (click)="createItem()">Criar Categoria</button>
  </div>
</div>